
<h2 class="category-title">My Wishlist</h2>
<div class="book-grid">
    <div *ngIf="wishlist.length==0">Wishlist is empty</div>
    <div *ngFor="let book of wishlist" class="book-card">
      <div class="book-cover">
        <img [src]="getCoverImageUrl(book)" alt="{{ book.title }}" >
      </div>
      <div class="book-content">
        <div class="book-info">
          <h3 class="book-title">{{ book.title }}</h3>
          <p  class="book-author">by {{ book.authors[0].name }}</p>
          <p class="book-year">Published: {{ book.first_publish_year }}</p>
        </div>
        <div class="book-actions">
            <button (click)="removeFromWishlist(book)">Remove from Wishlist</button>
        </div>
      </div>
    </div>
  </div>
  