<div class="book-details-card">
    <div class="book-cover">
      <img [src]="book.coverUrl" alt="{{ book.title }}">
    </div>
    <!-- <div class="book-info">
      <h2>{{ book.title }}</h2>
      <ul>
        <li><strong>First Publish Year:</strong> {{ book.first_publish_year }}</li>
        <li><strong>Title:</strong> {{ book.title }}</li>
        <li><strong>Author:</strong> {{ book.authors.map(author => author.name).join(', ') }}</li>
        <li><strong>Edition Count:</strong> {{ book.edition_count }}</li>
        <li><strong>Number of Pages:</strong> {{ book.number_of_pages }}</li>
      </ul>
     <button (click)="toggleWishlist(book)">{{ isInWishlist(book) ? 'Remove from' : 'Add to' }} Wishlist</button>
    </div> -->
  </div>